.converter {
    margin-top: 2rem;
    padding: 0.5rem;

    .converterForm {
        padding: 0.8rem 1.5rem 1rem;
        text-align: center;
        margin-bottom: 1rem;
        border-radius: 1em;
        border: 1px solid #016d5b;
        font-size: 1.2em;

        .textTemplate {
            color: #646464;
            font-weight: bold;
        }
    }

    .labelConverter {
        display: block;
        font-size: 1em;
        text-align: center;
        margin-bottom: 1rem;
    }

    .inputConverter {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        padding: 0.3rem 0.3rem 0.4rem;
        font-size: 1.2em;
        text-align: center;
        color: #666;
        background-color: #f5f5f5;
        border: 1px solid #c4c4c4;
        -webkit-transition: border-color ease-in-out 0.3s;
        transition: border-color ease-in-out 0.3s;
        border-radius: 0.25rem;
    }

    .btnConverter {
        display: block;
        margin: auto;
        position: relative;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        border: none;
        padding: 0.3rem 1rem;
        font-size: 0.8em;
        line-height: 1.42857143;
        border-radius: 0.4em;
        color: #fff;
        background-color: #016d5b;
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.8;
        }

        &.disabled {
            cursor: default;
            opacity: 0.5;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .btnReset {
        display: inline-block;
        margin: 0 0 0 0.5rem;
        position: relative;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        border: none;
        padding: 0.2rem 0.5rem 0.1rem;
        font-size: 0.8em;
        line-height: 1.42857143;
        border-radius: 0.4em;
        color: #575757;
        border: 1px solid #575757;
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    .converterResult {
        padding: 0.8rem 1.5rem 1rem;
        text-align: center;
        margin-bottom: 1rem;
        border-radius: 1em;
        border: 1px solid #016d5b;
        font-size: 1.2em;

        h3 {
            font-size: 1.1em;
            font-weight: normal;
            color: #016d5b;
            margin: 0;
            padding: 0;
        }

        b {
            color: #5f5f5f;
        }
    }
}
